$darkGrey: #a6a6a6;
$borderColor: #abb8c9;
$borderHoverColor: #abd4fe;
$borderHoverBackgroundColor: #f1f7fe;

@mixin hoverElement{
  background: $borderHoverBackgroundColor;
  border: 1px solid $borderHoverColor;
}
*{
  margin: 0;
  padding: 0;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 16px;
}

.container{
  background: #f6f7f8;
  display: flex;
  justify-content: space-between;

}
.leftElements{
  display: flex;
  justify-content: flex-start;
}
.rightElements{
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  #hideElements{
    color: $darkGrey;
    font-weight: bold;
    padding: 10px 7px;
    &:hover{
      @include hoverElement;
    }
  }
  #info{
    padding: 10px 5px;
    &:hover{
      @include hoverElement;
    }
  }
  #aboutProduct{
    background: #0074d1;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    text-align: center;
    padding: 3px;
    color: #fff;
    font-size: 10px;
    border: 0.5px solid #0b5894;
  }
}
#file{
    border:{
      right: 1px solid $borderColor ;
      bottom: 1px solid $borderColor;
    };
    display: inline-block;
    color: #fff;
    background: #1979ca;
    padding: 10px 15px;
    &:hover{
      background: #298ce1;
    }
}
#main{
  padding: 10px 15px;
}
#inFile{
  position: absolute;
  display: none;
  li{
    &:hover{
      @include hoverElement;
    }
    img{
      width: 40px;
      height: 40px;
    }
    div{
      padding: 10px 0;
      display: flex;
      justify-content: flex-start;
    }
    p{
      position: relative;
      top: 15px;
    }
  }
}

#tools{
  padding-top: 10px;
  background-color:#f6f7f8;
  display: flex;
  justify-content: space-between;
}


