$darkGrey: #a6a6a6;
$borderColor: #abb8c9;
$borderHoverColor: #abd4fe;
$borderHoverBackgroundColor: #f1f7fe;
$darkGreyForTools: #5a5a5a;

@mixin hoverElement{
  background: $borderHoverBackgroundColor;
  border: 1px solid $borderHoverColor;
}
*{
  margin: 0;
  padding: 0;
  font-family: Arial, Tahoma, sans-serif;
  box-sizing: border-box;
}
header{
  font-size: 16px;
}
.container{
  background: #f6f7f8;
  display: flex;
  justify-content: space-between;
}
.leftElements{
  display: flex;
  justify-content: flex-start;
}
.rightElements{
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  #hideElements{
    color: $darkGrey;
    font-weight: bold;
    padding: 10px 7px;
    &:hover{
      @include hoverElement;
    }
  }
  #info{
    padding: 10px 5px;
    &:hover{
      @include hoverElement;
    }
  }
  #aboutProduct{
    background: #0074d1;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    text-align: center;
    padding: 3px;
    color: #fff;
    font-size: 10px;
    border: 0.5px solid #0b5894;
  }
}
#file{
    border:{
      right: 1px solid $borderColor ;
      bottom: 1px solid $borderColor;
    };
    display: inline-block;
    color: #fff;
    background: #1979ca;
    padding: 10px 15px;
    &:hover{
      background: #298ce1;
    }
}
#main{
  padding: 10px 15px;
}
#inFile{
  position: absolute;
  display: none;
  li{
    &:hover{
      @include hoverElement;
    }
    img{
      width: 40px;
      height: 40px;
    }
    div{
      padding: 10px 0;
      display: flex;
      justify-content: flex-start;
    }
    p{
      position: relative;
      top: 15px;
    }
  }
}

section{
  font-size: 12px;

}
#tools{
  padding-top: 10px;
  background-color:#f6f7f8;
  padding-bottom: 5px;
  border-bottom: 1px solid #e2e3e4;
  display: flex;
  justify-content: flex-start;
}

.buffer{
  padding: 0 7px;
  border-right: 1px solid #e2e3e4;

  .items{
    display: flex;
    justify-content: flex-start;

    #cut,#copy{
      display: block;
      width: 15px;
      height: 15px;
      margin-top: 5px;
    }
  }
  .text{
    text-align: center;
  }
}
.drawTools{
  padding: 0 7px;
  border-right: 1px solid #e2e3e4;
  text-align: center;
  width: 105px;
  .blockWithTools{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    img{
      width: 30px;
      height: 30px;
      margin-bottom: 10px;
    }
  }
}
.TypesOfBrush{
  padding: 0 7px;
  text-align: center;
  border-right: 1px solid #e2e3e4;
  img{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    padding: 5px;
  }
}
.types{
  display: none;

}
.bottomTextInTools{
  color: $darkGreyForTools;
}



